[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GWsignif"]
	path = GWsignif
	url = https://github.com/cran/GWsignif
	shallow = true
	registered = true
